.container__windows {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
.container__windows > * {
  pointer-events: all;
  user-select: none;
}

.draggable__after {
  width: 100%;
  height: 0.25rem;
  padding: 0.125rem;
  position: sticky; /*absolute*/
  bottom: 0rem;
  right: 0rem;

  cursor: nwse-resize;

  border-top: 0.25rem inset var(--eo__black);
  background: var(--eo__yellow);
}

.container__window {
  position: absolute;
  top: 1rem;
  left: 1rem;

  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;

  overflow: auto;

  border: 0.125rem solid var(--eo__black);
  box-shadow: 0px 0px 0px 0.25rem var(--eo__yellow);
  background: #f8b312ed; /*var(--eo__yellow);*/
}

.container__window .window__toggle {
  margin: 0.25rem;
  margin-right: 1rem;

  cursor: pointer;
}

.container__window .window__title {
  background: var(--eo__black);
  color: var(--eo__yellow);
  padding: 0.25rem 0.5rem;
  text-align: center;
  line-height: 1.5rem;

  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
}
.container__window .window__title .window__title__text {
  cursor: all-scroll;
}

.container__window .window__body {
  flex-grow: 1;
  width: 100%;
  padding: 0.25rem 0.5rem;
}

.container__window.closedWindow {
  height: unset!important;
}

.container__window.closedWindow .window__title {
  background: var(--eo__blue);
  color: var(--eo__white);
}

.container__window.closedWindow .window__body {
  display: none!important;
}

#window__messages .window__body {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  max-height: 90vh;
}

#window__messages .window__body p[data-repeat]:after {
  content: '  (x' attr(data-repeat) ')';
  font-weight: bold;
}

#tooltip {
  user-select: none;

  position: absolute;
  top: 0px;
  right: 0px;
}

#tooltip .tooltip__info {
  display: none;
}
#tooltip:hover .tooltip__info {
  display: block;
  position: relative;
  left: 100%;
  background: var(--eo__black);
  color: var(--eo__yellow);
  width: fit-content;
  padding: 0.5rem;
  border: 0.125rem solid var(--eo__yellow);
  margin: 0px 0.35rem;
}

/* A lot of magic numbers */
#tooltip:hover .tooltip__info:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.25rem 0.5rem 0.25rem 0;
  border-color: transparent var(--eo__yellow) transparent transparent;
  position: absolute;
  left: -0.55rem;
  top: 0.45rem;
}

/* temporary rules */
#w2 {
  top: 85vh;
}
#window__messages {
  top: 28vh;
}

#window__player {
  left: 80vw;
}