@font-face {
	font-family: moon;
	src: url('../assets/Moon2.0-Regular.otf') format("opentype");
}
@font-face {
	font-family: alber;
	src: url('../assets/AlberNew-Regular.ttf') format("truetype");
}
@font-face {
	font-family: ega;
	src: url('../assets/PxPlus_IBM_BIOS.ttf') format("truetype");
}

*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
  font-family: alber;
  font-size: 16px;
}

html {
	/*chrome*/
	--light1: #dee1e6;
	--light2: #f1f3f4;
	--light3: #ffffff;
	--light4: #f5f5f5;
	--dark1: #202124;
	--dark2: #282c2f;
	--dark3: #323639;
	--dark4: #464a4d;
	--col__red: #f63732;
	--col__blue: #4285f4;
	--col__green: #319d59;
	--col__yellow: #ffcd41;
	--col__ochre: #f0a200;
	--col__white: #eeeeee;
	--col__grey: #d6d6d6;
	--col__black: #202124;

	/*firefox*/
	--dark1__ff: #0d0d0e;
	--dark2__ff: #28282b;
	--dark3__ff: #323234;
	--dark4__ff: #474749;
	--col__white__ff: #f1f1f2;
	--col__grey__ff: #bebec0;
	--col__red__ff: #ff1a0d;
	--col__blue__ff: #00b9fb;
	/*no firefox green*/
	--col__yellow__ff: #fff208;
	--col__ochre__ff: #ffbb00;

	/* cursor: none; */
	--eo__yellow: #f8b312;
	--eo__blue: #0f8897;
	--eo__black: #130e03;
	--eo__white: #f8f7ea;
}
* {
	outline: 1px dotted red;
}

body {
	background-color: var(--eo__yellow);
	color: var(--eo__black);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
html, 
a {
	color: var(--eo__black);
}
a {
	text-decoration: none;
}

hr {
	border: 1px solid black;
	margin: 0.5rem 0;
}

.container__canvas {
	position: relative;
}

.messages__background {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	font-family: 'ega';
}

.messages__background .messages__history {
	overflow-y: auto;
}

.messages__background .messages__history p:last-child {
	display: none;
}

.messages__background .messages__history p {
	padding: 0.5rem;
	opacity: 0.25;
	
	background-color: #f8b31200;

	mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0));
	mask-repeat: no-repeat;
	mask-position: left top, left bottom;
	-webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0));
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: left top, left bottom;
}
.messages__background .messages__history p:hover {
	z-index: 99;
	opacity: 1;
	background-color: #f8b312e6;

	mask-image: none;
	-webkit-mask-image: none;
}
.messages__background .messages__history p[data-repeat]:after {
  content: '  (x' attr(data-repeat) ')';
  font-weight: bold;
}
.messages__background .messages__latest {
  background: var(--eo__black);
  color: var(--eo__yellow);
  padding: 0.5rem;
  border: 0.125rem solid var(--eo__yellow);
}